/*matching divs*/
.bracket-matcher {
  border-bottom: 1px solid lime;
  position: absolute;
  border: 1px solid rgba(0, 255, 0, 0.7);
  background-color: rgba(0, 255, 0, 0.3);
}
/*divs*/
div {
  border: solid 1px black;
}
/*body*/
body {
  font-family: Georgia;
  font-weight: bold;
}
/*header*/
.header {
  font-family: Verdana;
  font-size: 14px;
  
}
