/*divs*/
div {
  /*border: solid 1px black;*/
}
/*body*/
body {
  font-family: Georgia;
  font-weight: bold;
}
/*header*/
.header {
  font-family: Verdana;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px black;
  padding-bottom: 10px;
  align-items: center;
}
/*logo*/
.header .left-header {
  display: inline-flex;
  align-self: stretch;
}
.header .left-header img {
  padding-left: 20px;
}
.header .left-header h1 {
  font-size: 14px;
  color: MediumAquamarine;
  padding-left: 15px;

}
/*navigation*/
.header nav {
  display: inline-block
  padding-right: 20px;
}
.header span {
  padding: 0 10px;
}
.header a {
  color: black;
}
/*main container*/
.main-cont {
  display: flex;
}
/*column*/
.column-large {
  display: flex;
  flex-direction: column;
  width: 630px;
  margin-right: 32px;

}
/*image*/
.first-story .image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  justify-content: center;
  background-repeat: no-repeat;
  padding-left: 0;
  width: 630px;
  height: 300px;
  margin-top: 15px;
  position: relative;
}
.first-story p {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  width: 630px;
}
h1 {
  color: white;
  text-align: center;
  font-size: 40px;
  padding-top: 13px;
}
.image h1 {
  color: white;
  text-align: center;
  font-size: 40px;
  padding-top: 30px;
  position: absolute;
  top: 10%;
  left: 0;
}
p {
  font-size: 17px;
  font-weight: normal;

}
.second-story {
  width: 300px;
  height: 300px;
}
h2 {
  font-size: 30px;
  margin: 0;
}
.second-story {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 105px;
}
.second-story .image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  background-repeat: no-repeat;
  width: 315px;
  height: 300px;

}
h3 {
  font-size: 30px;
  color: white;
  text-align: center;
  padding-top: 50px;
}
.mini-col {
  display: inline-flex;

}
.third-story {
  width: 300px;
  flex-wrap: wrap;
}
.third-story .image {
  background-image:
  url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  background-repeat: no-repeat;
  width: 315px;
  height: 300px;
  padding: 10px;
  position: relative;
}
.third-story .image h3 {
  position: absolute;
  top: 0;
  right: 10%;
}
.column-med {
  display: flex;
  width: 300px;
}
.fourth-story h2 {
  margin-top: 23px;
}
.fourth-story p, .fifth-story p {
  width: 300px;
  margin-left: 0;
}
.fifth-story .image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  background-size: cover;
  position: relative;
}
.fifth-story .image h3 {
  position: absolute;
  top: 10%;
  left: 0;
}
.column-small {
  display: flex;
  flex-basis: 240 px;

}


.news-bites h4{
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}
.text li {
  list-style-type: none;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  font-weight: normal;
  color: DimGray;
  margin: 0;
  padding: 11px 20px;
  border-bottom: solid 1px black;
  align-items: center;
}
.footer {
  font-family: Verdana;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  background-color: MediumAquamarine;
  width: 100%;
  height: 325px;
  justify-content: center;
  align-items: center;
}

.bottom-header {
  display: inline-flex;
  flex-wrap: wrap;
  padding-left: 17px;
}
.bottom-header h4 {
  font-size: 16px;
  color: white;
}
.title-nav {
}
.bottom-header span {
  justify-content: flex-end;
  font-size: 16px;
  color: white;
}
.bottom-header a {
  color: black;
}
.bottom-header p {
  padding-top: 10px;
}
.copyright {
  padding-left: 20px;
}
